<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
  <div class="navbar-collapse justify-content-between align-items-center w-100">
    <ul class="navbar-nav mx-auto text-center">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <i class="fab fa-bootstrap"></i> About
        </a>
      </li>
    </ul>
  </div>
</nav>
